<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Spotify", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="preload" href="https://open.scdn.co/fonts/CircularSpUIv3T-Light.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="https://open.scdn.co/fonts/CircularSpUIv3T-Book.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="https://open.scdn.co/fonts/CircularSpUIv3T-Bold.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="https://open.scdn.co/fonts/spoticon_regular_2.woff2" as="font" type="font/woff2" crossorigin="">
  </head>
  <body>
    <div id='root'></div>
    <%= @inner_content %>
  </body>
</html>
